* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: sans-serif, Arial, ;
    background-color: white;
    color: black;
    line-height: 1.3;
}

header nav {
    background-color: whitesmoke;
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
}

.logo_h1 {
    font-size: 1.7rem;
    font-weight: 700;
}

.nav_links ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin-right: 6rem;
}

.nav_links ul li a {
    text-decoration: none;
    color: rgb(41, 39, 39);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all 0.3s ease-in-out;

}

.nav_links a:hover {
    color: grey;
}

.mode_icons {
    color: rgb(96 113 124);
    font-size: 1.2rem;
    gap: 0.2rem;
    cursor: pointer;
}

.hero_section {
    max-width: 100%;
    /* min-height: 100vh; */
    padding: 2rem 6rem;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin-top: 5rem;
}

.main_text {
    width: 50%;

}

.main_text_h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
    color: rgb(46, 45, 45);
}

.main_text_p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: rgb(68, 68, 68);
}

.main_btn {
    padding: 0.7rem 1.7rem;
    border: none;
    border-radius: 1rem;
    color: white;
    background: linear-gradient(to right, rgb(147, 147, 209), rgb(65, 65, 170), rgb(218, 110, 218));
    font-size: 1rem;
    font-weight: 600;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.main_btn:hover {
    background: linear-gradient(to right, rgb(165, 165, 222), rgb(85, 85, 185), rgb(230, 130, 230));
}

.main_img {
    width: 65%;
    background: transparent;
    border-radius: 2rem;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;

}

.feature_section {
    margin-top: 5rem;
    padding: 0 6rem;
}

.h3 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-left: 2rem;
    color: rgb(58, 57, 57);
    margin-bottom: 1rem;
}

.grid_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 0rem 3rem;
    cursor: pointer;

}

.card1 {
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    border-radius: 1.5rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;
}

.fa-mendeley,
.fa-microchip,
.fa-rocket {
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;

}

footer {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    width: 100%;
    height: 15vh;
    margin-top: 2.5rem;
}

.footer_links ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    list-style: none;
    padding: 0 1rem;
}

.footer_links ul li a {
    color: rgb(79, 78, 78);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.footer_p {
    color: rgb(79, 78, 78);
    font-size: 1rem;
}

.social_links {
    gap: 1rem;
    color: black;
    font-size: 1.4rem;
    cursor: pointer;
}

.social_links i:hover {
    color: rgb(79, 78, 78);
}

/*  */
/* DARK MODE CLASS */
.dark {
    background-color: black;
    color: white !important;
}

.dark h1,
.dark h2,
.dark h3,
.dark p,
.dark a,
.dark i {
    color: white !important;
}

/* Cards dark */
.dark .card1 {
    background-color: #1e1e1e;
    color: white;
}

/* Header dark */
.dark header nav {
    background-color: #1a1a1a;
}

/* Footer dark */
.dark footer {
    background-color: #121212;
}

/* Media Queries */
@media (max-width:786px){
    header{
        width: 100%;
    }
    .nav_links{
        display: none;
    }
    .hero_section{
        flex-direction: column;
        gap: 2rem;
    }
    .main_text{
        margin-bottom: 2rem;
        width: 100%;
        /* text-align: center; */
    }
    .main_text_h1{
        font-size: 2rem;
    }
    .main_text_p{
        font-size: 1rem;
    }
    .main_btn{
        font-size: 0.8rem;
    }
    .main_img{
        width: 100%;
    }
    .grid_cards{
        grid-template-columns: repeat(1, 1fr);
    }
    footer{
        gap: 1rem;
        flex-direction: column;
        height: 40vh;
    }
}